<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/header.ejs') %>
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <%- include ('./partials/navbar.ejs') %>
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
      <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Routes not found</h1>
        <p>
          <a href="/"><button>Back to home page</button></a>
        </p>
      </div>
    </header>
    <!-- Footer-->
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
