
    <%- include ('./partials/header.ejs') %>
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <%- include ('./partials/navbar.ejs') %>
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
      <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Points Of Interest</h1>
        <p><form class="example" action="#/region" style="margin:auto;max-width:300px">
          <input type="text" placeholder="Search by region..." name="search2">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form></p>
      </div>
    </header>
    <div class="container">
      <div class="container">
         <div>
             <h1>Hello world!</h1>
             <h2>Welcom: <%= user.username %></h2>
             <div>
                 <form method="POST" action="/logout">
                     <button type="submit" class="btn btn-primary">Log out</button>
                 </form>
             </div>
         </div>
      </div>
  </div>
    <!-- Footer-->
   <%- include ('./partials/footer.ejs') %>
  </body>
</html>
