<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <meta charset="UTF-8" />
    <title>CodePen - The prismatic forms</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <nav class="navbar">
      <div class="navbar-inner">
        <div class="logo">
          <a class="logo" href="/">
            <img src="images/logo.png" alt="Points of interest" width="120" />
          </a>
        </div>
      </div>
    </nav>
    <ul class="nav">
      <li onclick="login">Login</li>
      <li onclick="logout">Logout</li>
      <li onclick="mapView">Map View</li>
      <li onclick="addPoi">Add Point of Interest</li>
    </ul>
    <div class="main" style="background-image: url('images/default.jpg')">

    <div class="wrapper">
      <div class="rec-prism">
        
        <div class="face face-front">
          <div class="content">
            <h2>Login</h2>
            <form onsubmit="event.preventDefault()">
              <div class="field-wrapper">
                <input type="text" name="username" placeholder="username" />
                <label>username</label>
              </div>
              <div class="field-wrapper">
                <input
                  type="password"
                  name="password"
                  placeholder="password"
                 
                />
                <label>password</label>
              </div>
              <div class="field-wrapper">
                <input type="submit" onclick="" />
              </div>
             
            </form>
          </div>
        </div>
      
       
        
      </div>
    </div>
    <!-- partial -->
    <script src="js/script.js"></script>
  </body>
</html>
