
    <%- include ('./partials/header.ejs') %>
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <%- include ('./partials/navbar.ejs') %>
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
      <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">User Login</h1>
        <p>
            <section class="poi-options pt-1">
                <div class="container">
                    <form id="login-form" class="form-content animate">
                        <div class="container">
                          <label for="username">Username</label>
                          <input id="username" type="text" name="username" required />
                  
                          <label for="password">Password</label>
                          <input id="password" type="password" name="password" required />
                  
                          <button id="loginBtn" type="submit" >Login</button>
                </div>
        
            </section>
        </p>
      </div>
    </header>
    <!-- Footer-->
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
