<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/header.ejs') %>
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <%- include ('./partials/navbar.ejs') %>
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
      <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">User Login</h1>
        <p>
            <section class="poi-options pt-1">
                <div class="container">
                    <form id="login-form" class="form-content animate" action="#">
                        <div class="container">
                          <label for="uname">Username</label>
                          <input id="username" type="text" name="uname" required />
                  
                          <label for="psw">Password</label>
                          <input id="password" type="password" name="psw" required />
                  
                          <button id="login-submit" type="submit">Login</button>
                </div>
        
            </section>
        </p>
      </div>
    </header>
    <!-- Footer-->
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
