<footer class="footer text-center">
    <div class="container px-4 px-lg-5">
      <p class="text-muted small mb-0">
        <h3>Copyright &copy; Solent University 2023</h3>
      </p>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top"
    ><i class="fas fa-angle-up"></i
  ></a>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>