<nav class="mobile-menu" id="mobileMenu">
    <div class="sr-only">Mobile Navigation</div>
    <div class="mobie-nav-close"></div>
    <ul>
        <li><a href="/" class="desktop-menu__link active">Home</a></li>
        <li><a href="/map" class="desktop-menu__link">Map View</a></li>
        <li><a href="/poi/add" class="desktop-menu__link">Add POI</a></li>
        <li>
            <% if (typeof username != undefined) { %>
                <a href="/users/logout" class="desktop-menu__link">Logout</a>
            <% }else{ %>
                <a href="/users/login" class="desktop-menu__link">Login</a>
            <% } %>
        </li>
    </ul>
</nav>