<div class="header-logo">
  <span class="sr-only">PointsOfInterest</span>

  <a href="/">
    <span class="poi-logo">PointsOfInterest</span>
  </a>
</div>
<div class="header__menu">

  <!-- Mobile Navigation Start -->
  <button class="button" id="mobile-menu-toggle" aria-label="Toggle Menu" aria-expanded="false" aria-controls="mobileMenu" data-target="#mobileMenu">
    <img src="/img/menu.svg" alt="Mobile Menu">
  </button>
  <!-- Mobile Navigation End -->


  <nav class="desktop-menu">

    <div class="sr-only">Main Navigation</div>
    <ul>

      <li><a href="/" class="desktop-menu__link active">Home</a></li>
      <li><a href="/map" class="desktop-menu__link">Map View</a></li>
      <li><a href="/poi/add" class="desktop-menu__link">Add Point of Interest</a></li>
      <li>
        <% if (username !== '') { %>
            <a href="/users/logout" class="desktop-menu__link">Logout</a>
        <% }else{ %>
          <a href="/users/login" class="desktop-menu__link">Login</a>
        <% } %>
      </li>

    </ul>
  </nav>

</div>