@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* Navbar starts  */

a {
  color: #777;
  text-decoration: none;
}

/* Navbar ends */

.main-section {
  margin-top: 0px;
}

.main-heading {
  width: 500px;
  margin: 30px auto;
  font-size: 50px;
  opacity: 0.8;
  text-align: center;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  margin: 0 auto;
  /* position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
}

.btn {
  appearance: none;
  -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 12px;
  min-width: 100px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.btn:focus,
.btn.focus {
  outline: 0;
}

.btn-round-2 {
  border-radius: 20px;
}

.btn-primary {
  background: #00b4cc;
  color: #ffffff;
}

.btn-primary:hover {
  background: #01a3b9;
  color: #ffffff;
}

#search-results-wrapper {
  width: 60%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.search-results {
  border-top: 5px solid #00b4cc;
  width: 80%;
  text-align: center;
  background-color: white;
  padding: 20px;
}
.action {
  width: 150px;
}
.profile {
  position: relative;
  background-color: #00b4cc;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  text-align: center;
  border-radius: 10px;
  color: white;
  overflow: hidden;
  cursor: pointer;
}

/* .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.dropdown-profile {
  position: absolute;
  top: 120px;
  /* padding: 10px 20px; */
  background: #fff;
  width: 150px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.dropdown-profile.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.dropdown-profile::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.dropdown-profile h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}

.dropdown-profile h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 300;
}
.dropdown-profile ul {
  padding-left: 0;
}
.dropdown-profile ul li {
  list-style: none;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-profile ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.dropdown-profile ul li:hover img {
  opacity: 1;
}

.dropdown-profile ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.dropdown-profile ul li:hover a {
  color: #ff5d94;
}

.profile-name {
  background-color: #00b4cc;
  text-align: center;
  width: 100%;
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
}

.navbar .navbar-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;

  align-items: center;
}

.links-n-profile {
  justify-content: end;
}

.profile-icon {
  padding-top: 3px;
  transform: translate(0, 2px);
}

svg {
  margin-right: 5px;
}

/* Map code */

#map {
  width: 70%;
  height: 50vh;
  margin: 2rem auto;
}

.leaflet-container {
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: end;
  margin: 30px auto;
}

.form-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

.form-hidden {
  display: none;
  transition: ease-in 0.3s;
}

.leaflet-popup-content div {
  line-height: 0.4;
}
