<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>
  <body id="page-top">
    <%- include ("../partials/navigation.ejs") %>
    

    <%- include ("../partials/footer.ejs") %>
  </body>
</html>
