/*
  CSS TABLE OF CONTENTS

  1.0 - Veriables
  2.0 - Reset

*/


/*** 1.0 Veriables ***/
:root {
    --primary-color: #666;
    --bg-gradient: linear-gradient(to bottom right, #ff3e00, #ffbe30);
    --secondary-color: #fff;
    --accent-color: #ffbe30;
    --font-family: "Poppins", sans-serif;
    --bg-color-primary: #fff;
    --bg-color-secondary: #eee;
    --bg-color-header: #FF3E00FF;
    --bg-color-footer: #FFBE30FF;
    --font-color: #666;
    --font-size: 1.5rem;
    box-sizing: border-box;
  }
  
  /*** 2.0 Reset ***/
  html {
    font-size: 62.5%;
    line-height: 1;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    color: var(--font-color);
    background-color: var(--bg-color-primary);
    font-family: var(--font-family);
    font-weight: normal;
    font-size: var(--font-size);
    box-sizing: border-box;
  }
  
  a {
    /*color: var(--font-color);*/
  }
  
  input, div, section, article, p, a, span, textarea {
    box-sizing: border-box;
  }
  
  h1, h2.title {
    font-size: clamp(3rem, 3.4vw, 4.2rem);
    -webkit-text-fill-color: rgb(207 207 207 / 78%);
    -webkit-text-stroke: 1px var(--font-color);
    color: transparent;
    margin-top: 0;
    margin-bottom: 4rem;
    line-height: 1.3;
  }
  
  h1 span, h2.title span {
    -webkit-text-fill-color: white;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    color: #262626;
  }
  h2, .h2 {
    font-size: 30px;
  }
  
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
  
  .lead {
    color: #999999;
  }
  
  p {
    font-size: clamp(1.6rem, 1.6vw, 2rem);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  ul{
    padding: 0;
  }
  
  li{
    list-style-type: none;
    list-style: none;
  }
  
  .text-primary{
    color: var(--primary-color);
  }
  
  .text-secondary{
    color: var(--secondary-color);
  }
  
  .text-center {
    text-align: center;
  }
  
  .pt-1 {
    padding-top: 52px;
  }
  
  .mt-1 {
    margin-top: 82px;
  }
  
  
  .bg-gray{
    background: #eee;
  }
  
  .container {
    max-width: 1621px;
    margin: 0 auto;
    /*padding: 50px 30px ;*/
  }
  
  .container.hero__container a{
    color: var(--secondary-color);
  }
  
  .row{
    display: flex;
  }
  
  
  
  
  /* Components
  ===============================================*/
  .button {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    background: transparent;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 1.16rem 4.27rem;
  }
  
  .button--primary {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  
  /* Header Section
  ===============================================*/
  .header {
    /*position: absolute;*/
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top: 20px;
    background: var(--bg-color-header);
  }
  
  .header.contact, .header.regular {
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    background: var(--bg-color-header);
  }
  
  
  .header .header-logo {
    margin: 0;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header #mobile-menu-toggle {
    padding: 10px;
  }
  
  
  /* Desktop Menu
  ===============================================*/
  .desktop-menu {
    display: none;
  }
  
  .desktop-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
  
  .desktop-menu__link {
    padding: 6px 10px;
    text-decoration: none;
  }
  
  .desktop-menu__link:hover {
    text-decoration: underline;
  }
  
  .desktop-menu__link.active {
    text-decoration: underline;
  }
  
  
  
  /* Mobile Menu
  ===============================================*/
  .mobile-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(620px);
    transition: transform 0.25s;
  }
  
  .mobile-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #efa506;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20vw;
    padding-top: 40px;
  }
  
  .mobile-menu .mobie-nav-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(4px);
  }
  
  .mobile-menu__link {
    display: block;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .mobile-menu.is-active {
    visibility: visible;
    transform: translateX(0px);
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
  }
  
  
  .poi-box input[type='submit'],
  .poi-box input[type='button']{
    width: 100%;
    height: 50px;
    font-weight: 700;
    padding: 0px 30px;
    text-align: center;
    color: #ffffff;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: #ffbe30;
    cursor:pointer;
  }
  
  
  
  
  /* Categories - event
  ===============================================*/
  .poi {
    display: grid;
    gap: 20px;
  }
  
  .poi__card {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    /*cursor: pointer;*/
    flex: 1 1 0;
    border: 5px solid #fff;
  }
  
  .poi__card-title {
    font-size: 2.2rem;
    z-index: 2;
    text-align: center;
  }
  
  
  .card-subtitle {
    font-size: 2rem;
    z-index: 2;
    text-align: center;
    color: var(--accent-color);
    margin: 0.4rem;
  }
  
  .poi__card-body {
    padding: 10px;
    text-align: center;
    /*color: var(--secondary-color);*/
    color: var(--font-color);
    z-index: 2;
  }
  
  .poi__card--square {
    aspect-ratio: 1 / 1;
    justify-content: flex-end;
  }
  
  .poi__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .poi__image img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  
  
  .image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.2s;
  }
  
  .image-overlay:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  
  iframe#gmap_canvas {
    width: 90%;
    height: 90%;
  }
  
  
  .poi-options__body {
    max-width: 810px;
    margin: 0 auto;
  }
  
  .poi-options .poi {
    flex-direction: column;
  }
  
  
  footer{
    background: var(--bg-color-footer);
    color: var(--secondary-color);
  }
  
  .footer__copyright {
    margin-bottom: 20px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }
  
  .footer-col__heading {
    font-size: 1.8rem;
  }
  
  .footer-col__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .footer-col__list li {
    margin-bottom: 6px;
  }
  
  .footer-col__list li img{
    margin-right: 16px;
    width: 20px;
  }
  
  .footer-col__list li a {
    padding: 8px 0;
    display: block;
    color: var(--secondary-color);
  }
  footer a {
    color: var(--secondary-color);
  }
  
  .footer-col{
    flex: 1 1 0;
  }
  
  .poi-box {
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    background: linear-gradient(to bottom right, #ff3e00, #ffbe30);
    flex-grow: inherit;
  }
  
  .poi-box img{
    width: 100%;
  }
  .poi{
    display: flex;
    flex-wrap: wrap;
  }
  
  .poi__card--square {
     justify-content: flex-end;
     box-sizing: border-box;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 45%;
     width: 45%;
   }
  
  
  .footer-container {
    display: flex;
  }
  
  
  .poi__card.sponsors  {
    width: calc(25% - 20px) !important;
    align-self: auto;
  }
  
  
  input, textarea, select  {
    width: 100%;
    border: none;
    height: 50px;
    display: block;
    padding: 0 31px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #ffffff;
  }
  
  .search-by-region input,
  .search-by-region textarea,
  .search-by-region select  {
    width: 100%;
    border: none;
    height: 50px;
    display: block;
    padding: 0 31px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #ffffff;
  }
  
  textarea {
    height: 100px;
  }
  
  .channel{
    color: #ff7c17;
    font-weight: 700;
  }
  
  .padded{
    padding: 20px;
  }
  
  .poi-box h3{
    font-size: 3.2rem;
    line-height: 6.3rem;
    color: #fff;
    margin-bottom: 2.6rem;
    margin-top: 0;
    text-align: center;
  }
  
  /*TABS
    ==============================*/
  .tab-navs {
    display: flex;
    flex-direction: column;
    background: var(--bg-gradient);
    align-items: flex-end;
    padding-right: 20px;
    margin: 0;
    flex: 1;
  }
  
  
  .tab-contents {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .tab-contents .poi__card-title {
    font-family: Poppins,sans-serif;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 3.4rem;
  
  }
  
  .tab-contents .poi__card,
  .tab-contents .poi__card-body{
    color: #666666;
    border-radius: 2rem;
    margin: .2rem;
  
  }
  .tab-contents .poi__card{
    background: var(--bg-color-secondary);
  }
  .tab-contents .poi__card.break {
    background: #ff952157;
  }
  .tab-contents h4.time {
    background: rgba(239,165,6,.1);
    /*font-family: Oswald,sans-serif;*/
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 1.5em 0 0.5rem;
    padding: 0.2rem 1rem;
    border-radius: 25px;
    color: var(--font-color);
  }
  .tab-contents h4.time span{
    color: #efa506;
  }
  .tab-contents h4.performer-info {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
  }
  
  .tab-navs h3{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: var(--secondary-color);
    text-transform: uppercase;
  
  }
  .tab-navs p{
    font-size: 1.4rem;
    line-height: 1rem;
    font-weight: 300;
    color: var(--secondary-color);
    opacity: .7;
  }
  .tab-navs li{
    width: 100%;
    text-align: right;
    border-bottom: 1px solid var(--accent-color);
    padding: 1rem;
    box-sizing: border-box;
  }
  
  
  .tab-navs h3{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: var(--secondary-color);
    text-transform: uppercase;
  
  }
  .tab-navs p{
    font-size: 1.4rem;
    line-height: 1rem;
    font-weight: 300;
    color: var(--secondary-color);
    opacity: .7;
  }
  .tab-navs li{
    width: 100%;
    text-align: right;
    border-bottom: 1px solid var(--accent-color);
    padding: 1rem;
    box-sizing: border-box;
  }
  
  nav li a{
    color:#fff;
  }
  
  
  
  .desktop-menu a{
      color: var(--secondary-color);
  }
  
  .custom-btn {
    z-index: 1;
    font-weight: 600;
    overflow: hidden;
    padding: 15px 35px;
    text-align: center;
    position: relative;
    border-radius: 50px;
    display: inline-flex;
    font-size: 14px;
    text-transform: uppercase;
    background: #ffbe30;
    color: #ffffff !important;
    box-shadow: 0 5px 60px 5px rgb(0 0 0 / 9%);
  }
  .custom-btn:after, .custom-btn:before {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    content: '';
    position: absolute;
    border-radius: 50px;
    transition: all .3s ease-in-out;
  }
  .custom-btn:before {
    background: linear-gradient(to bottom right, #ff3e00, #ffbe30);
  }
  .custom-btn:after {
    opacity: 0;
    background: linear-gradient(to bottom right, #ffbe30, #ff3e00);
  }
  .custom-btn:hover:before {
    opacity: 0;
  }
  .custom-btn:hover:after {
    opacity: 1;
  }
  
  
  
  .img-responsive{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  img {
    vertical-align: middle;
  }
  img {
    border: 0;
  }
  
  
  .search-by-region{
    width: 100%;
    display: flex;
  }
  .region-poi{
    width: 100%;
    display: block;
  }
  
  .region-poi th{
    text-align: left;
  }
  
  .col-5{ width:5%;}
  .col-10{ width:10%;}
  .col-15{ width:15%;}
  .col-20{ width:20%;}
  .col-25{ width:25%;}
  .col-30{ width:30%;}
  .col-40{ width:40%;}
  .col-50{ width:50%;}
  .col-60{ width:60%;}
  .col-70{ width:70%;}
  .col-80{ width:80%;}
  
  .hr-center{
    justify-content: center;
    margin: auto;
  }
  
  .poi-logo{
    font-size: 1.7em;
    color: #fff;
    font-style: italic;
    text-decoration: none;
  }
  .header-logo a{
    text-decoration: none;
  }
  
  
  .mobile-menu li{
    padding: 1em;
  }
  
  #poi-table tr td{
    border-bottom: 1px solid #fff;
    padding: 5px 8px;
  }
  
  #poi-table tr th{
    border-bottom: 1px solid #fff;
    padding: 5px 8px;
    background: #ff3e00;
    color: #fff;
  }
  
  .poi__card.poi th,
  .poi__card.poi td{
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  }
  .poi__card.poi{
  
    border: 5px solid #fff;
    color: #fff;
  }
  
  .recommendation_button{
    cursor: pointer;
    height: 30px;
  }
  
  .success{
    text-align: center;
    justify-content: center;
    background: rgba(180, 232, 180, 0.24);
    color: #959090;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
  }
  
  .error{
    text-align: center;
    justify-content: center;
    background: rgba(242, 139, 136, 0.4);
    color: #959090;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
  }