<header>
    <div id="navlist">
        <a href="#">Home</a>
        <a href="#">Add new POI</a>
        <a href="#">Add Feedback</a>
        <a href="#">About Us</a>
         
        <!-- search bar right align -->
        <div class="search">
            <form >
                <input type="text"
                    placeholder=" Search Region" id="text_search"
                    name="search">
                <input id="search_button" type="button" value="search">
                    
                </input>
            </form>
        </div>
    </div>
</header>