<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
<header class="header">
    <div class="container home">
        <%- include('./partials/nav.ejs' ) %>
    </div>

</header>
<%- include('./partials/mobile-nav.ejs' ) %>
<main>

    <section class="event-options pt-1">

        <div class="container">
            <h1 class="event-option__heading text-center">Find Points of Interest</h1>

             <div class="event event--options pt-1">

                <div class="why-attend">

                    <article class="event__card padded">

                        <div class="search-by-region">

                            <select name="region" value="select region" id="search-by-region">
                                <option value="NY">NY</option>
                                <option value="London">London</option>
                                <option value="Oxfordshire">Oxfordshire</option>
                                <option value="Somerset">Somerset</option>
                                <option value="Paris">Paris</option>
                                <option value="Rome">Rome</option>
                                <option value="California">California</option>
                                <option value="Nordrhein_Westfalen">Nordrhein_Westfalen</option>
                                <option value="Niedersachsen">Niedersachsen</option>
                                <option value="Baden-Wuerttemberg">Baden-Wuerttemberg</option>
                                <option value="Bayern">Bayern</option>
                                <option value="Hampshire">Hampshire</option>
                                <option value="Wiltshire">Wiltshire</option>
                                <option value="Surrey">Surrey</option>
                                <option value="Sussex">Sussex</option>
                                <option value="Southampton">Southampton</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Hautes-Pyrenees">Hautes-Pyrenees</option>
                                <option value="Devon">Devon</option>
                                <option value="Berkshire">Berkshire</option>
                                <option value="Pacific Ocean">Pacific Ocean</option>
                                <option value="Pacifica">Pacifica</option>
                            </select>
                        </div>
                        <article class="region-poi">
                            <table id="poi-table">
                                <thead>
                                    <tr>
                                        <th class="col-20">Name</th>
                                        <th class="col-10">Type</th>
                                        <th class="col-10">Country</th>
                                        <th class="col-15">Region</th>
                                        <th class="col-20">Description</th>
                                        <th class="col-5">Lat</th>
                                        <th class="col-5">Lon</th>
                                        <th class="col-5">
                                            Recommen <br> dations
                                        </th>
                                        <th class="col-5"></th>
                                    </tr>
                                </thead>

                            </table>

                        </article>
                    </article>

                </div>
            </div>
        </div>

    </section>

</main>

<%- include('./partials/footer.ejs') %>
<script src="/js/poi.js" defer></script>

<script>




</script>


</body>

</html>