<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<header class="header regular">

    <div class="container">
        <%- include('./partials/nav.ejs') %>
    </div>

</header>

<%- include('./partials/mobile-nav.ejs') %>

<main>

    <section class="event-options pt-1">

        <div class="container">

            <h1 class="event-option__heading text-center">User Login</h1>

            <div class="event event--options pt-1 hr-center col-50">

                <div class="contact">
                    <div class="event__card hr-center">
                        <div class="registration-box">
                            <h3 class="title">Login</h3>
                            <form action="#" method="post">
                                <input name="username" placeholder="Your username" type="text" required>
                                <input name="password" value="" placeholder="Your password" type="password" required>
                                <input value="Submit" class="" type="submit" id="submitLogin">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>







</main>
<%- include('./partials/footer.ejs') %>
<script src="/js/login.js" defer></script>


</body>

</html>