<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
<header class="header">

    <div class="container">
        <%- include('./partials/nav.ejs') %>
    </div>

</header>
<%- include('./partials/mobile-nav.ejs') %>
<main>

    <section class="event-options">
        <div id="map" style="width:100vw; height:600px"> </div>
    </section>

    <section class="event-options pt-1">

        <div class="container">

            <div class="event event--options pt-1">

                <div class="why-attend">

                    <article class="event__card padded">

                        <div class="search-by-region">

                            <select name="region" value="select region" id="search-by-region">
                                <option value="NY">NY</option>
                                <option value="London">London</option>
                                <option value="Oxfordshire">Oxfordshire</option>
                                <option value="Somerset">Somerset</option>
                                <option value="Paris">Paris</option>
                                <option value="Rome">Rome</option>
                                <option value="California">California</option>
                                <option value="Nordrhein_Westfalen">Nordrhein_Westfalen</option>
                                <option value="Niedersachsen">Niedersachsen</option>
                                <option value="Baden-Wuerttemberg">Baden-Wuerttemberg</option>
                                <option value="Bayern">Bayern</option>
                                <option value="Hampshire">Hampshire</option>
                                <option value="Wiltshire">Wiltshire</option>
                                <option value="Surrey">Surrey</option>
                                <option value="Sussex">Sussex</option>
                                <option value="Southampton">Southampton</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Hautes-Pyrenees">Hautes-Pyrenees</option>
                                <option value="Devon">Devon</option>
                                <option value="Berkshire">Berkshire</option>
                                <option value="Pacific Ocean">Pacific Ocean</option>
                                <option value="Pacifica">Pacifica</option>
                            </select>
                        </div>
                        <article class="region-poi">

                        </article>
                    </article>

                </div>
            </div>
        </div>

    </section>


</main>

<%- include('./partials/footer.ejs') %>

<script type='text/javascript' src='/js/mapping.js'></script>

</body>

</html>