<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
<header class="header">
    <div class="container home">
        <%- include('./partials/nav.ejs' ) %>
    </div>

</header>
<%- include('./partials/mobile-nav.ejs' ) %>
<main>

    <section class="poi-options pt-1">

        <div class="container">
            <h1 class="poi-option__heading text-center">Find Points of Interest</h1>

             <div class="poi poi--options pt-1">

                <div class="why-attend">

                    <article class="poi__card padded">

                        <div class="search-by-region">

                            <input type="text" name="region" id="search-by-region" placeholder="search by region">
                        </div>

                    </article>



                </div>
            </div>
        </div>

    </section>
    <section id="message-box-section">
        <div class="container">
            <div id="message-box" class="poi poi--options"></div>
        </div>
    </section>
    <section class="poi-options search-results">
        <div class="container">
            <div class="poi poi--options">
                <div class="contact poi-grid">
                    <p></p>
                </div>
            </div>
        </div>

    </section>

</main>

<%- include('./partials/footer.ejs') %>


<script>




</script>


</body>

</html>